
.footer {
    background-color: #111;
    padding: 10px 10%;
    color: #fff;
    font-family: Arial, sans-serif;
    margin-top: 12rem;
}

.footer a {
    color: white; 
    text-decoration: none;  
  }
  

  .footer a:hover {
    color: #ffd700;  
  }

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-brand {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
}


.footer-columns {
    display: flex;
    flex: 2;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.footer-col {
    flex: 1;
    min-width: 200px;
}

.footer-col:first-child {
    margin-left: -6rem; /* Ajusta para mover a coluna para a esquerda */
}


.footer-col h4 {
    color: #facc15;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.footer-col li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-col li:hover {
    color: #fff;
    border-bottom: 2px solid #facc15;
    padding-bottom: 0.5rem;
}

.footer-col li svg {
    margin-right: 10px;
}


.footer-bottom {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #aaa;
}

.footer-socials {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-socials svg {
    cursor: pointer;
    margin: 0 10px;
}

.footer-socials svg:hover {
    color: #facc15;
    transform: scale(1.2);
}